.Details {
    margin: 50px;
    padding: 50px;
    border-radius: 40px;
    background-color: #e4e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;


}

.vitolo h1 {
    font-size: 60px;
}

.session-item {
    /* border: 1px solid black; */
    display: flex;
    justify-content: start;

}

.sessions-container {
    margin: 2px;
    max-height: 450px;
    flex-direction: column;
    display: flex;
    padding: 30px;
    border-radius: 60px;
    width: 85%;
}

.nav-bar-session-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;

}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;

}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(270deg,#00223e,#ae796a); */
    backdrop-filter: blur(2px);

}

.modal-content {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 50%;
    border-radius: 15px;
    overflow-y: auto;
    max-height: 83%;
    background-color: #1d2b3a;

}

.close-btn {

    display: flex;
    justify-content: space-between;
    padding-right: 25px;
    /* padding-top: 15px; */
    padding-top: 2rem;
    margin-right: 1px;
    /* margin-left: 31px; */
    padding-left: 3rem;
    position: sticky;
    top: 0;
    background-color: #1d2b3a;

}

.add-course-form {
    color: #fff;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 22px;
    padding: 10px;
}

.add-course-form label {
    color: #fff;
}

.logoimage-popup {
    height: 50%;
    width: 15%;
}

.thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 0;
}

.non-sticky {
    position: static;
    top: auto;

}

.thead2 {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
}

.non-sticky2 {
    position: static;
    /* Set to "static" for non-sticky positioning */
    top: auto;
    /* Set to "auto" to remove top positioning */
}

.addingbutton {
    margin-bottom: 20px;
    border-radius: 10px;

    display: block;
    font-size: 1.466vw;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;


}

.addingbutton:hover {
    background-color: #00dfc4;
    ;
    transition: 0.2s;
    color: white;


}

/* Define the button style */
.exit-button {
    background-color: transparent;
    border: 2px solid #fff;
    /* Black border */
    color: #fff;
    /* Black text color */
    font-size: 20px;
    /* Adjust the font size as needed */
    width: 40px;
    /* Adjust the button width as needed */
    height: 40px;
    /* Adjust the button height as needed */
    border-radius: 50%;
    /* Make the button circular */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    /* Remove focus outline */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

/* Change the button appearance on hover */
.exit-button:hover {
    background-color: #fff;
    /* Black background on hover */
    color: #000;
    /* White text color on hover */
    border-color: #fff;
    /* White border on hover */
}

.dropdownboxesforsessiontostudent {
    border-radius: 5px;
    margin: 20px;
    padding: 5px;

}

.dropdownboxesforsessiontostudentparentdiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    margin-left: 3%;

}

.studentemailtobeaddedtocourse {
    margin: 10px;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;

}

.studentpopupinputs {
    border-radius: 5px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    width: 75%;

}

.search-studnet {
    padding: 1%;
    margin-bottom: 1%;
    border-radius: 19px;
    width: 20%;
}

.showingstudentdetails {
    margin: 5%;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;
}

.showingstudentdetails h1 {
    padding: 1%;
    font-size: 20px;
    color: #fff;
}

.SubmitSessionsEdit {

    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.466vw;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.show-button {
    background-color: #4caf50;
    /* Green background color */
    color: white;
    /* White text color */
    padding: 10px 20px;
    /* Padding for better visual */
    font-size: 16px;
    /* Font size */
    border: none;
    /* No border */
    border-radius: 5px;
    /* Rounded corners */
    cursor: pointer;
    /* Cursor style on hover */
    outline: none;
    /* Remove default focus outline */
}

.show-button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}
.above-table2 {
    display: flex;
    justify-content: start;
    align-items: start;
}
.above-table2 select {
    border-radius: 15px;
    padding: 8px;
    margin: 8px;
}
.above-table2 input {
    border-radius: 15px;
    padding: 8px;
    margin: 8px;
}
.for-adding-button{
    width: 85%;
    display: flex;
    justify-content: end;
    
}
@media (max-width:1080px) {
    .sessions-container{
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 750px;
    }
    .Details{
        border-radius: 35px;
        margin: 5px;
        padding: 10px;
    }
    .addingbutton{
        font-size: large ;
    }
   
    
    .css-1ex1afd-MuiTableCell-root{
        font-size: 2.5rem !important;
    }
    .css-1ex1afd-MuiTableCell-root button{
        font-size: 2.5rem !important;
    }
    .css-1ygcj2i-MuiTableCell-root{
        font-size: 2rem !important;
    }
    .above-table2 input{

        font-size: 1.1rem !important;
        padding: 5;
        margin: 0;
        margin-bottom: 8px;
    }
    .above-table2 select{
        font-size: 1.1rem !important;
        margin: 0;
        margin-left: 4px;
        margin-bottom: 8px;
    }
    .above-table2 select option{
        font-size: 1.1rem !important;
        
    }
    .modal-content{
        width: 90%;
        z-index: 1 !important;
    }
    .close-btn{
        margin-bottom: 10%;
    }
    .logoimage-popup{
        width: 33%;
    }
    .add-course-form label{
        font-size: 2rem;
    }
    .studentemailtobeaddedtocourse{
        font-size: 1.8rem;
    }
    .studentemailtobeaddedtocourse option {
        font-size: 1.1rem;
    }
    .dropdownboxesforsessiontostudent {
        font-size: 1.4rem;
    }
    .dropdownboxesforsessiontostudent option{
        font-size: 1.1rem;
    }
    .add-course-form{
        margin: 0;
        padding: 0px;
    }
    .studentpopupinputs{
        font-size: 1.71rem;
    }
    .SubmitSessionsEdit{
        font-size: 1.71rem;
    } 
    div:where(.swal2-container).swal2-center > .swal2-popup {
        /* Your styles go here */
        /* For example: */
        background-color: #ffffff;
        color: #333333;
        font-size: large;
        /* Add more styles as needed */
    }
    div:where(.swal2-container).swal2-center > .swal2-popup button{
        /* Your styles go here */
        /* For example:
        background-color: #ffffff;
        color: #333333; */
        font-size: large;
        /* Add more styles as needed */
    }
    div:where(.swal2-icon).swal2-question.swal2-icon-show {
        /* Your styles go here */
        /* For example: */
        font-size: 10px;
        color: #4285f4;
        /* Add more styles as needed */
    }
    .header-course{
        grid-template-columns: 4fr 1fr;
    }
    .delete-active-edit-div{
        display: flex;
        flex-direction: column;
        align-items: flex-end !important;
    
    }
    .delete-active-edit-div button{
        font-size: 15px;
        padding: 10%;

        
    }
    .addingbutton{
        margin-top: 10px !important;
    }
    .css-i4bv87-MuiSvgIcon-root{
        font-size: 2.5rem !important;
    }
    
}
.header-course{
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    
    
}
.course-header-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    margin-left: 40%;
    margin-top: 5%;
}
.delete-active-edit-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.adding-button-header {
    margin-bottom: 2px;
    border-radius: 10px;
    display: block;
    font-size: 1.466vw;
    font-weight: 600;
    margin-top: 12px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    

}
.adding-button-header-two {
    margin-bottom: 2px;
    border-radius: 10px;
    display: block;
    font-size: 1.466vw;
    font-weight: 600;
    margin-top: 12px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;


}
.custom-select:required:invalid {
    color: rgba(255, 255, 255, 0.25);
  }
.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
    position: static !important;
}
