.back {
    min-height: 100vh;
    background:linear-gradient(270deg,#00223e,#ae796a);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.embdedbox
{
    min-height: 90vh;
    width: 95%;
    margin: 35px auto;
    height: auto;
    overflow: auto;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8); 
    display: flex;
    flex-direction: column;
    background-color :#f2f2f2;

}
    

 

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 35px 50px;
    
}
.logoimage {
    width: 170px;
    height: 88px;
    position: relative;
    left: 20px;
    margin: 43px;

}
.buttonlist {
    display: flex;
    margin-right: 200px;

}
.navbuttons {
    text-decoration: none;
    margin: 55px;
    cursor: pointer;
    font-size: 20px;
    color:  coral;
    
}
.navbuttons:hover {
    
    text-decoration: underline;
    transform: translateY(-5px);
    

}
.Logoutbutton {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color:  coral;
    border-radius: 50px;
}
.Logoutbutton:hover {
    
    text-decoration: underline;
    transform: translateY(-5px);

}
.Coursesbutton {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 20px;
    padding-right: 100px;
    color:  coral;
}
.Coursesbutton:hover {
    
    text-decoration: underline;
    transform: translateY(-5px);

}
.hellodr {
    margin-left: 100px;
    background-color: transparent;
    /* border: 1px solid black; */
    /* border: 1px solid black; */
    /* height: 69.7vh; */
    /* background-color: lig; */
}
.hellodr h1 {
    font-size: 100px;
    /* background-color: transparent; */
    /* padding-left: 190px; */
    /* padding-top: 5000px; */
}
.hellodr h2 {
    font-size: 40px;
    padding: 10px;
}

.showcourses {
    /* border: 1px solid black; */
    
    display: flex;
    flex-flow: row wrap;
    align-content: start;
    /* background-color: transparent; */
    

    
}
.corse-prieview {
    
    height: 250px;
    width: 250px;
    margin-left: 30px;
    margin-right: 150px;
    margin-top: 90px;
    margin-bottom: 120px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
    /* border: 0.2px solid black; */
    /* background: linear-gradient(to right, aqua, Coral); */
    background-color: rgb(217, 215, 250);
    text-align: center;
    text-decoration: none;
    
    
}
.corse-prieview:hover{
    
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 5);
    transition: 0.4s;

}
.addCourse {
    height: 200px;
    width: 200px;
    background-image: url('../images/3307376.png') ;
    background-size: cover;
    background-position: center;

}
.SubmitForm {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.Registerinputs {
    border-radius: 5px;
    margin: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    width: 100%;
    height: 25px;
    border-color:coral;

}
.RegisterForm {
    width: 50vh;
    
}
.Registerbutton {
    margin-bottom: 20px;
    border-radius: 10px;

    display: block;
    font-size: 1.466vw;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 29%;

}
.Registerbutton:hover {
    background-color: #ae796a;
    transition: 0.2s;
}