.dropdownboxesforcoursetomergeparentdiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 10rem;
    padding-top: 4rem;



}

.dropdownboxesforcoursetomerge {
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    width: 15rem;
}

.dropdownboxesforcoursetomerge option {
    font-size: 10px;
    width: 15rem;
}

.add-course-form {
    color: #fff;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 22px;
    padding: 10px;
}

@media (max-width:1080px) {
    .dropdownboxesforcoursetomerge {
        padding: 5px;
        width: 70%;
    }

    .addingbutton {
        margin-top: 120px;
    }


    div:where(.swal2-container).swal2-center > .swal2-popup {
        /* Your styles go here */
        /* For example: */
        background-color: #ffffff;
        color: #333333;
        font-size: large;
        /* Add more styles as needed */
    }
    div:where(.swal2-container).swal2-center > .swal2-popup button{
        /* Your styles go here */
        /* For example:
        background-color: #ffffff;
        color: #333333; */
        font-size: large;
        /* Add more styles as needed */
    }
    div:where(.swal2-icon).swal2-question.swal2-icon-show {
        /* Your styles go here */
        /* For example: */
        font-size: 10px;
        color: #4285f4;
        /* Add more styles as needed */
    }
    
}