* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    flex-direction: column;


}

.inputRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inputGroup {
    flex: 1;
    margin-right: 10px;
    /* Adjust the spacing between input groups as needed */
}

.inputGroup:last-child {
    margin-right: 0;
}

.inputBox {

    position: relative;
    width: 32%;

}

.inputGroup {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

.inputBox input {

    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.3s;
    margin-bottom: 10px;
    height: 50px;
}

.inputBox select {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.3s;
    margin-bottom: 10px;
    height: 50px;
}

.inputBox span {
    position: absolute;
    margin: 5px;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.3s;

}

.inputBox input:valid+span,
.inputBox input:focus+span {
    color: #00dfc4;
    transform: translatex(10px) translateY(-7px);
    font-size: 0.70em;
    padding: 0 10px;
    background-color: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;

}

.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #00dfc4;
}

.RegisterbuttonS {

    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
    display: block;
    font-size: 1.466vw;
    font-weight: 600;
    margin-top: 20px;
    padding: 8px 8px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: #1d2b3a;
    background-color: #00dfc4;

}

.RegisterbuttonS:hover {
    background-color: white;
    color: #1d2b3a;
    transition: 0.5s;
}

@media (max-width:1080px) {
    .inputBox {
        width: 77%;
    }

    .inputBox input {
        font-size: 2rem;
    }

    .inputBox span {
        font-size: 1.5rem !important;
    }

    .inputBox input:valid+span,
    .inputBox input:focus+span {
        font-size: 0.8rem !important;
    }

    .RegisterbuttonS {
        font-size: 1.5rem;
    }

    div:where(.swal2-container).swal2-center>.swal2-popup {
        /* Your styles go here */
        /* For example: */
        background-color: #ffffff;
        color: #333333;
        font-size: large;
        /* Add more styles as needed */
    }

    div:where(.swal2-container).swal2-center>.swal2-popup button {
        /* Your styles go here */
        /* For example:
        background-color: #ffffff;
        color: #333333; */
        font-size: large;
        /* Add more styles as needed */
    }

    div:where(.swal2-icon).swal2-question.swal2-icon-show {
        /* Your styles go here */
        /* For example: */
        font-size: 10px;
        color: #4285f4;
        /* Add more styles as needed */
    }
}
.custom-select:focus{
    color: #00dfc4;
    background-color: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    border-top: 1px solid #00dfc4;
    border-bottom: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}